{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACT Department Head</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'coordinator/css/style.css' %}" />

    {% tailwind_css %}
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="pt-4 active">
        <h1 class="text-xl">
          <a href="{% url 'home' %}" class="text-xl logo"
            >ACT Teacher ({{request.user.username}})</a
          >
        </h1>
        <ul class="mb-5 list-unstyled components">
          <li class="active">
            <a href="{% url 'home' %}"><span class="fa fa-home"></span>Home</a>
          </li>
          <li>
            <a href=""><span class="fa fa-user"></span>Batches</a>
          </li>
          <li>
            <a href=""><span class="fa fa-sticky-note"></span> students</a>
          </li>
          <li>
            <a href="{% url 'courses' %}"
              ><span class="fa fa-cogs"></span>Courses</a
            >
          </li>
          <li>
            <a href="{% url 'allocate-course' %}"
              ><span class="fa fa-cogs"></span> Allocate Courses</a
            >
          </li>
          <li>
            <a href="{% url 'select_semester' %}"
              ><span class="fa fa-paper-plane"></span>Teacher vs Course</a
            >
          </li>

          <li>
            <a href="{% url 'logout' %}"
              ><span class="fa fa-paper-plane"></span>Logout</a
            >
          </li>
        </ul>

        <div class="footer">
          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved @ACT
          </p>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="">
        <div class="p-3 bg-sky-700">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>

        <div class="p-3 m-4 bg-white rounded-md">
          {% if messages %} {% for message in messages%}
          <div class="p-3 px-4 mb-4 bg-success rounded-4">{{ message}}</div>
          {% endfor %} {% endif %} {% block content %}{% endblock content %}
        </div>
      </div>
    </div>

    <script src="{% static 'coordinator/js/jquery.min.js' %}"></script>
    <script src="{% static 'coordinator/js/popper.js' %}"></script>
    <script src="{% static 'coordinator/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'coordinator/js/main.js' %}"></script>
  </body>
</html>
