{% extends "teacher/base.html" %} {% block content %}

<div class="row">
  <div class="col-12 col-lg-12 col-xxl-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="flex items-center justify-center">
          <h5 class="text-lg font-bold text-black">My Courses</h5>
        </div>
      </div>
      <table class="table my-0 table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Course Name</th>
            <th class="d-none d-xl-table-cell">Course Code</th>
            <th>Academic Year</th>
            <th>Semester</th>
            <th>Batch</th>
            <th>Section</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for section_teacher in section_teachers %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{section_teacher.course.name}}</td>
            <td>{{section_teacher.course.credit_hour}}</td>
            <td>{{section_teacher.semester.AcademicYear.name}}</td>
            <td>{{section_teacher.semester.name}}</td>
            <td>{{section_teacher.section.batch.name}}</td>
            <td>{{section_teacher.section.name}}</td>
            <td>
              <a
                href="{% url 'teacher_students' semester_id=section_teacher.semester.id section_id=section_teacher.section.id course_id=section_teacher.course.id %}"
              >
                <button
                  class="flex items-center justify-center px-3 py-2 font-bold text-white rounded-lg text-md bg-sky-900"
                >
                  + View Students
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
