{% extends "adminApp/base.html" %} {% block content %}

<div class="row">
  <div class="col-12 col-lg-12 col-xxl-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="flex justify-between">
          <h5 class="mb-2 text-xl card-title">Department Heads</h5>
          <a href="{% url 'add-department-head' %}">
            <button class="btn btn-success">+ Add Department Head</button>
          </a>
        </div>
      </div>
      <table class="table my-0 table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>UserName</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for user in department_heads %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.middle_name}} {{user.last_name}}</td>
            <td class="d-none d-xl-table-cell">{{user.email}}</td>
            <td class="d-none d-xl-table-cell">
              {{user.department_head.department.name}}
            </td>
            <td>
              <a href="{% url 'delete-department-head' user.id %}"
                ><span class="badge bg-danger">Delete</span></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
