{% extends "adminApp/base.html" %} {% block content %}

<div class="row">
  <div class="col-xl-12 col-xxl-12 d-flex">
    <div class="w-100">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mt-0 col">
                  <h5 class="card-title">Students</h5>
                </div>
              </div>
              <h1 class="mt-1 mb-3">{{students}}</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mt-0 col">
                  <h5 class="card-title">Teachers</h5>
                </div>
              </div>
              <h1 class="mt-1 mb-3">{{teachers}}</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mt-0 col">
                  <h5 class="card-title">Departments</h5>
                </div>
              </div>
              <h1 class="mt-1 mb-3">{{departments}}</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mt-0 col">
                  <h5 class="card-title">Registrars</h5>
                </div>
              </div>
              <h1 class="mt-1 mb-3">{{registrars }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
