{% extends "registrars/base.html" %} {% block content %}

<div class="p-6 bg-white rounded-md shadow-lg">
  <table class="w-full border border-collapse border-gray-300 table-auto">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2">No</th>
        <th class="px-4 py-2">User Name</th>
        <th class="px-4 py-2">Full Name</th>
        <th class="px-4 py-2">Department</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td class="px-4 py-2 border">{{ forloop.counter }}</td>
        <td class="px-4 py-2 border">{{ student.username }}</td>
        <td class="px-4 py-2 border">
          {{ student.first_name }} {{student.middle_name}} {{student.last_name}}
        </td>
        <td class="px-4 py-2 border">
          {{student.student_profile.department.name}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
