{% extends "registrars/base.html" %} {% block content %}

<div class="row">
  <div class="col-12 col-lg-12 col-xxl-12 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="flex items-center justify-between">
          <h5 class="card-title">
            {{batch.department.name}} sections of batch {{batch.name}}
          </h5>
          <a href="{% url 'create_section' batch.id %}">
            <button class="btn btn-primary">Add new Section</button>
          </a>
        </div>
      </div>
      <table class="table my-0 table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Department</th>
            <th>Batch of</th>
            <th>section</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          {% for section in sections %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{section.batch.department.name}}</td>
            <td>{{section.batch.name}}</td>
            <td>{{section.name}}</td>
            <td>
              <a href="{% url 'students_of_section' section.id %}">
                <button class="btn btn-primary">View Students</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
