{% extends "coordinator/base.html" %} {% block content %}

<div class="">
  <div class="mb-6">
    
    <div class="flex flex-col md:flex-row md:justify-between">
      <h1 class="text-2xl font-bold">Batch Of {{ batch.name }}</h1>
      <a href="{% url 'add-section' batch.id %}">
      <button class="bg-gray-200 px-4 py-2 align-text rounded-md mb-2 text-white font-bold hover:bg-sky-700">
        + Add Section
      </button>
    </a>
    </div>

    <div class="overflow-x-auto">
      <h2 class="text-center text-lg">Sections</h2>
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2">No</th>
              <th class="px-4 py-2">Section Name</th>
      
            
            </tr>
          </thead>
          <tbody>
            {% for section in sections %}
            <tr>
              <td class="border px-4 py-2">{{ forloop.counter }}</td>
              <td class="border px-4 py-2">{{ section.name }}</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
     
    
   
    {% for semester, courses in semester_courses.items %}
    {% if courses %}
    <div class="mb-4">
      <div class="flex space-x-4 items-center px-4 mb-3">
        <h1 class="text-md font-bold">
          Academic Year : {{ semester.AcademicYear.name }}
        </h1>
        <h1 class="text-md font-bold">Semester : {{ semester.name }}</h1>
      </div>
      <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2">No</th>
              <th class="px-4 py-2">Course Name</th>
              <th class="px-4 py-2">Course Code</th>
              <th class="px-4 py-2">Credit Hour</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td class="border px-4 py-2">{{ forloop.counter }}</td>
              <td class="border px-4 py-2">{{ course.course.name }}</td>
              <td class="border px-4 py-2">{{ course.course.code }}</td>
              <td class="border px-4 py-2">{{ course.course.credit_hour }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% endfor %}
     
    
  </div>

  {% endblock content %}
</div>
