{% extends "departmentHead/base.html" %} {% block content %}

<div class="">
  <div class="mb-6">
    
    
      <h1 class="text-lg font-bold text-center mb-3">Batch Of {{ batch.name }}</h1>
    

    <div class="overflow-x-auto">
      <h2 class="text-center text-lg">Sections</h2>
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2 w-6">No</th>
              <th class="px-4 py-2">Section Name</th>
      
            
            </tr>
          </thead>
          <tbody>
            {% for section in sections %}
            <tr>
              <td class="border px-4 py-2">{{ forloop.counter }}</td>
              <td class="border px-4 py-2">{{ section.name }}</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
     
    
   
    {% for semester, courses in semester_courses.items %}
    {% if courses %}
    <div class="mb-4">
      <div class="flex space-x-4 items-center px-4 mb-3">
        <h1 class="text-md font-bold">
          Academic Year : {{ semester.AcademicYear.name }}
        </h1>
        <h1 class="text-md font-bold">Semester : {{ semester.name }}</h1>
      </div>
      <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="px-4 py-2 w-6">No</th>
              <th class="px-4 py-2">Course Name</th>
              <th class="px-4 py-2">Course Code</th>
              <th class="px-4 py-2">Credit Hour</th>
              <th class="px-4 py-2">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td class="border px-4 py-2">{{ forloop.counter }}</td>
              <td class="border px-4 py-2">{{ course.course.name }}</td>
              <td class="border px-4 py-2">{{ course.course.code }}</td>
              <td class="border px-4 py-2">{{ course.course.credit_hour }}</td>
              <td class="border px-4 py-2">
                <a href="{% url 'delete-batch-course' batch_id=batch.id semester_id=semester.id course_id=course.id %}">
                  <button class='py-2 px-3 flex justify-center items-center bg-red-500 text-white rounded-md'>Delete</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% endfor %}
     
    
  </div>

  {% endblock content %}
</div>
